body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #3b3836;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b3836;
    margin: 10px 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #d87c1f;
    margin: 0px;
    width: 98%;
}

.title {
    display: flex;
    color: #1c1b1a;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.logo {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1c1b1a;
    width: 98%;
    flex: 0 0 400px;
    align-items: center;
    justify-content: center;
    padding: 20px 0 60px 0;
}

.container div {
    color: #d87c1f;
    font-size: 24px;
    margin: 10px;
}

.container .score {
    display: flex;
    width: 98%;
    justify-content: space-evenly;
}

.container .selections {
    display: flex;
    width: 98%;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.buttons .choice {
    border: 1px solid #d87c1f;
    outline: none;
    background: none;
    background-color: #2d2926;
    font-size: 55px;
    padding: 30px;
    border-radius: 60px;
    cursor: pointer;
    transition: all 100ms ease-in;
    color: #d87c1f;
}

.choice:hover {
    scale: 1.1;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #d87c1f;
    width: 98%;
    justify-content: center;
    align-items: center;
    color: #1c1b1a;
    padding-top: 10px;
}

.footer div {
    margin: 10px;
    font-style: italic;
}

.link {
    color:#1c1b1a;
}